<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.lifeplatform.dao.sys.SysInfoPoMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.lifeplatform.po.sys.SysInfoPo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
    <result column="sys_rank" jdbcType="VARCHAR" property="sysRank" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="delete_status" jdbcType="VARCHAR" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, password, sys_name, sys_rank, add_time, delete_status
  </sql>
  <select id="confirmAdmin" parameterType="com.luffykaiyuan.lifeplatform.po.sys.SysInfoPo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_info
    where user_name = #{userName,jdbcType=VARCHAR}
    and delete_status = '1'
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_info
    where delete_status = '1'
  </select>

  <insert id="insertAdmin" parameterType="com.luffykaiyuan.lifeplatform.po.sys.SysInfoPo">
    insert into sys_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="sysName != null">
        sys_name,
      </if>
      <if test="sysRank != null">
        sys_rank,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysRank != null">
        #{sysRank,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateAdmin" parameterType="com.luffykaiyuan.lifeplatform.po.sys.SysInfoPo">
    update sys_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null">
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysRank != null">
        sys_rank = #{sysRank,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>