<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.lifeplatform.dao.user.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.lifeplatform.po.user.UserInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="login_id" jdbcType="VARCHAR" property="loginId" />
    <result column="user_gender" jdbcType="VARCHAR" property="userGender" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="qq_number" jdbcType="VARCHAR" property="qqNumber" />
    <result column="wechat_number" jdbcType="VARCHAR" property="wechatNumber" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="delete_status" jdbcType="VARCHAR" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, login_id, user_gender, phone, qq_number, wechat_number, add_time, delete_status
  </sql>
  <select id="selectUserInfo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where login_id = #{loginId,jdbcType=VARCHAR}
  </select>

  <insert id="insertUserInfo" parameterType="com.luffykaiyuan.lifeplatform.po.user.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="loginId != null">
        login_id,
      </if>
      <if test="userGender != null">
        user_gender,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="qqNumber != null">
        qq_number,
      </if>
      <if test="wechatNumber != null">
        wechat_number,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null">
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="userGender != null">
        #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="wechatNumber != null">
        #{wechatNumber,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateUserInfo" parameterType="com.luffykaiyuan.lifeplatform.po.user.UserInfo">
    update user_info
    <set>
      <if test="userGender != null">
        user_gender = #{userGender,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="qqNumber != null">
        qq_number = #{qqNumber,jdbcType=VARCHAR},
      </if>
      <if test="wechatNumber != null">
        wechat_number = #{wechatNumber,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>