<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="./css/operateStyle.css"/>
    <link rel="stylesheet" href="./css/app/index.css">
    <!-- import Vue before Element -->
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>任务发布中心</title>
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">任务平台</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <el-row style="margin-top: 50px">
        <el-col :span="3">
            <el-menu style="height: 915px" :default-active="contextPath" class="el-menu-demo" @select="handleSelect">
                <el-menu-item index="index">首页</el-menu-item>
                <el-submenu index="1" v-if="myRight.taskRight === '1'">
                    <template slot="title">任务中心</template>
                    <el-menu-item index="taskBack" >待审核任务</el-menu-item>
                    <el-menu-item index="taskDoing">已审核任务</el-menu-item>
                </el-submenu>
                <el-menu-item index="userBack" v-if="myRight.userRight === '1'">人员中心</el-menu-item>
                <el-submenu index="2" v-if="myRight.dictRight === '1'">
                    <template slot="title">字典管理</template>
                    <el-menu-item index="typeBack">任务类别</el-menu-item>
                    <el-menu-item index="placeBack">任务地址</el-menu-item>
                </el-submenu>
                <el-menu-item index="messageBack" v-if="myRight.messageRight === '1'">公告管理</el-menu-item>
                <el-menu-item index="adminBack" v-if="myRight.adminRight === '1'">管理员管理</el-menu-item>
                <el-menu-item index="quitLogin">退出登录</el-menu-item>
            </el-menu>
        </el-col>
        <el-col :span="15" :offset="1">
            <el-card class="box-card" style=" margin-top: 50px">
                <div slot="header" class="clearfix">
                    <span>进行中任务</span>
                </div>
                <el-table border :data="taskData.slice((currpage - 1) * pageSize, currpage * pageSize)"
                          style="width: 100%;">
                    <el-table-column prop="startName" label="发布人昵称"></el-table-column>
                    <el-table-column prop="taskTitle" label="任务标题"></el-table-column>
                    <el-table-column prop="taskTime" label="截止时间"></el-table-column>
                    <el-table-column prop="endName" label="接收人昵称"></el-table-column>
                    <el-table-column :key="Math.random()" fixed="right" label="操作">
                        <template slot-scope="scope">
                            <span class="el-icon-view lookStyle" @click="lookMore(scope.row)">查看详情</span>
                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination background
                               layout="prev, pager, next , total"
                               :page-size="pageSize"
                               :total="taskData.length"
                               @current-change="handleCurrentChange"
                               @size-change="handleSizeChange"></el-pagination>
            </el-card>
        </el-col>
        <el-col :span="3" :offset="1" style="margin-top: 50px; margin-right: 10px">
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span>任务发布排名</span>
                    <el-tooltip placement="top">
                        <div slot="content">任务发布并被完成的统计</div>
                        <el-button style="padding: 0">?</el-button>
                    </el-tooltip>
                </div>
                <div class="top-10">
                    <ul>
                        <li><a v-if="rankStartName[0]">{{rankStartName[0].name}}</a><a v-else>暂无数据</a></li>
                        <li><a v-if="rankStartName[1]">{{rankStartName[1].name}}</a><a v-else>暂无数据</a></li>
                        <li><a v-if="rankStartName[2]">{{rankStartName[2].name}}</a><a v-else>暂无数据</a></li>
                        <li><a v-if="rankStartName[3]">{{rankStartName[3].name}}</a><a v-else>暂无数据</a></li>
                        <li><a v-if="rankStartName[4]">{{rankStartName[4].name}}</a><a v-else>暂无数据</a></li>
                    </ul>
                </div>
            </el-card>
            <el-card class="box-card" style="margin-top: 50px; margin-right: 10px">
                <div slot="header" class="clearfix">
                    <span>任务完成排名</span>
                    <el-tooltip placement="top">
                        <div slot="content">任务完成的统计</div>
                        <el-button style="padding: 0">?</el-button>
                    </el-tooltip>
                </div>
                <div class="top-10">
                    <ul>
                        <li><a v-if="rankEndName[0]">{{rankEndName[0].name}}</a><a v-else>暂无数据</a></li>
                        <li><a v-if="rankEndName[1]">{{rankEndName[1].name}}</a><a v-else>暂无数据</a></li>
                        <li><a v-if="rankEndName[2]">{{rankEndName[2].name}}</a><a v-else>暂无数据</a></li>
                        <li><a v-if="rankEndName[3]">{{rankEndName[3].name}}</a><a v-else>暂无数据</a></li>
                        <li><a v-if="rankEndName[4]">{{rankEndName[4].name}}</a><a v-else>暂无数据</a></li>
                    </ul>
                </div>
            </el-card>
        </el-col>
    </el-row>
    <el-dialog tiele="任务详情" :visible.sync="taskVisible" width="80%">
        <el-divider></el-divider>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>任务信息
            </div>
            <el-row>
                <el-col :span="2" :offset="1">昵称</el-col>
                <el-col :span="5">{{startInfo.nickName}}</el-col>
                <el-col :span="2" :offset="1">电话</el-col>
                <el-col :span="5">{{startInfo.phone}}</el-col>
                <el-col :span="2" :offset="1">微信号</el-col>
                <el-col :span="5">{{startInfo.wechatNumber}}</el-col>
            </el-row>
            <el-row>
                <el-col :span="2" :offset="1">任务类型</el-col>
                <el-col :span="5">{{oneTask.taskType}}</el-col>
                <el-col :span="2" :offset="1">任务地址</el-col>
                <el-col :span="5">{{oneTask.taskPlace}}</el-col>
                <el-col :span="2" :offset="1">截止时间</el-col>
                <el-col :span="5">{{oneTask.taskTime}}</el-col>
            </el-row>
            <el-row style="margin-top: 10px">
                <el-col :span="2" :offset="1">任务详情</el-col>
                <el-col :span="16">{{oneTask.taskContent}}</el-col>
            </el-row>
        </el-card>
        <el-card class="box-card" v-if="oneTask.endName" style="margin-top: 30px">
            <div slot="header" class="clearfix">
                <span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>接收人信息
            </div>
            <el-row style="margin-top: 20px">
                <el-col :span="2" :offset="1">昵称</el-col>
                <el-col :span="5">{{endInfo.nickName}}</el-col>
                <el-col :span="2" :offset="1">电话</el-col>
                <el-col :span="5">{{endInfo.phone}}</el-col>
                <el-col :span="2" :offset="1">微信号</el-col>
                <el-col :span="5">{{endInfo.wechatNumber}}</el-col>
            </el-row>
        </el-card>
        <el-card class="box-card" v-if="feedInfo.id" style="margin-top: 30px">
            <div slot="header" class="clearfix">
                <span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>完成反馈信息
            </div>
            <el-row>
                <el-col :span="10" :offset="1">
                    <div v-if="feedInfo.imgId1">
                        <img :src="feedInfo.imgId1" class="avatar" style="width: 200px; height: 200px">
                    </div>
                </el-col>
                <el-col :span="10" :offset="3">
                    <div v-if="feedInfo.imgId2">
                        <img :src="feedInfo.imgId2" class="avatar" style="width: 200px; height: 200px">
                    </div>
                </el-col>
            </el-row>
        </el-card>
        <span slot="footer" class="dialog-footer">
            <el-button @click="taskVisible = false">取 消</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script src="./js/app/taskDoingVue.js"></script>
</html>