<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="./css/front/taskListStyle.css">
    <link rel="stylesheet" href="./css/operateStyle.css"/>
    <!-- import Vue before Element -->
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>任务发布中心</title>
</head>
<body>
<div id="app" v-cloak>
    <div class="container" style="margin-left: 0">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand">任务平台</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a :href="hrefs.index">任务广场</a>
                            </li>
                            <li v-if="!userName">
                                <a :href="hrefs.login">登录</a>
                            </li>
                            <li class="dropdown active" v-if="userName">
                                <a class="dropdown-toggle" data-toggle="dropdown">我的任务<strong class="caret"></strong></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a :href="hrefs.myRelease">我发布的</a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li class="active">
                                        <a :href="hrefs.myGet">我接收的</a>
                                    </li>
                                </ul>
                            </li>
                            <li v-if="userName">
                                <a :href="hrefs.myInfo">个人中心</a>
                            </li>
                            <li v-if="userName">
                                <a @click="quitLogin">退出登录</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>

        <div class="row clearfix" style="margin-top: 100px">
            <div class="col-md-12 column">
                <el-row>
                    <el-col :span="20" :offset="2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">待完成的任务</h3>
                            </div>
                            <el-collapse v-model="activeNames">
                                <el-collapse-item :name="item.id" v-for="(item, i) in MyDoing">
                                    <template slot="title">
                                        <span style="float:left;font-size:14px;padding: 15px">{{item.taskTitle}}</span>
                                        <el-tag size="mini" type="warning" v-if="item.deleteStatus === 1">审核中</el-tag>
                                        <el-tag size="mini" type="danger" v-else-if="item.deleteStatus === 3">未通过审核</el-tag>
                                        <el-tag size="mini" type="success" v-else-if="item.deleteStatus === 6">任务完成</el-tag>
                                        <el-tag size="mini" v-else>任务进行中</el-tag>
                                    </template>
                                    <el-steps :active="item.deleteStatus" align-center :finish-status="item.steps">
                                        <el-step title="审核中" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="审核通过" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="审核失败" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="待接收" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="已接收" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="已完成" description="这是一段很长很长很长的描述性文字"></el-step>
                                    </el-steps>
                                    <el-button size="small" style="float: right;margin: 10px" type="primary" @click="lookTask(item)">查看详情</el-button>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">已完成的任务</h3>
                            </div>
                            <el-collapse v-model="activeNames">
                                <el-collapse-item :name="item.id" v-for="(item, i) in MyFinish">
                                    <template slot="title">
                                        <span style="float:left;font-size:14px;padding: 15px">{{item.taskTitle}}</span>
                                        <el-tag size="mini" type="warning" v-if="item.deleteStatus === 1">审核中</el-tag>
                                        <el-tag size="mini" type="danger" v-else-if="item.deleteStatus === 3">未通过审核</el-tag>
                                        <el-tag size="mini" type="success" v-else-if="item.deleteStatus === 6">任务完成</el-tag>
                                        <el-tag size="mini" v-else>任务进行中</el-tag>
                                    </template>
                                    <el-steps :active="item.deleteStatus" align-center :finish-status="item.steps">
                                        <el-step title="审核中" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="审核通过" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="审核失败" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="待接收" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="已接收" description="这是一段很长很长很长的描述性文字"></el-step>
                                        <el-step title="已完成" description="这是一段很长很长很长的描述性文字"></el-step>
                                    </el-steps>
                                    <el-button size="small" style="float: right;margin: 10px" type="success" @click="lookTask(item)">查看详情</el-button>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                    </el-col>
                    <el-col :span="1" :offset="1">
                        <div class="panel panel-default" style="width: 430px">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    系统公告
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="carousel slide" id="carousel-116899" style="width: 400px">
                                    <ol class="carousel-indicators">
                                        <li class="active" data-slide-to="0" data-target="#carousel-116899">
                                        </li>
                                        <li data-slide-to="1" data-target="#carousel-116899">
                                        </li>
                                        <li data-slide-to="2" data-target="#carousel-116899">
                                        </li>
                                    </ol>
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img alt="" style="width: 400px; height: 260px" :src="messageThreeData[0].imgId" />
                                            <div class="carousel-caption">
                                                <h4>
                                                    {{messageThreeData[0].announceTitle}}
                                                </h4>
                                                <p>
                                                    {{messageThreeData[0].announceContent}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img alt="" style="width: 400px; height: 260px" :src="messageThreeData[1].imgId" />
                                            <div class="carousel-caption">
                                                <h4>
                                                    {{messageThreeData[1].announceTitle}}
                                                </h4>
                                                <p>
                                                    {{messageThreeData[1].announceContent}}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <img alt="" style="width: 400px; height: 260px" :src="messageThreeData[2].imgId" />
                                            <div class="carousel-caption">
                                                <h4>
                                                    {{messageThreeData[2].announceTitle}}
                                                </h4>
                                                <p>
                                                    {{messageThreeData[2].announceContent}}
                                                </p>
                                            </div>
                                        </div>
                                    </div> <a class="left carousel-control" href="#carousel-116899" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-116899" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                </div>
                            </div>

                        </div>
                        <div class="panel panel-default" style="width: 430px">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    个人发布任务信息
                                </h3>
                            </div>
                            <div class="list-group-item">
                                <div>
                                    <div style="margin-top: 15px; display: flex">
                                <span>
                                    <img :src="imageUrl" class="img-rounded" style="width: 50px; height: 50px">
                                </span>
                                        <div style="align-items: flex-end; width: 20%; flex-direction: column-reverse;">
                                            <div style=" margin-left: 10%;margin-top: 10%">
                                                <span>{{userForm.nickName}}</span>
                                            </div>
                                    </div>
                                    <div style="display: flex; flex-direction: row">
                                        <el-divider direction="vertical"></el-divider>
                                        <div style="flex-direction: column;">
                                            <p style="color: #bfc9d9">进行中任务</p>
                                            <span>{{doingNum}}</span>
                                        </div>
                                        <el-divider direction="vertical"></el-divider>
                                        <div style="flex-direction: column;">
                                            <p style="color: #bfc9d9">已完成任务</p>
                                            <span>{{finishNum}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </el-col>
                </el-row>
            </div>
        </div>

        <el-dialog tiele="任务详情" :visible.sync="taskVisible" width="80%">
            <el-divider></el-divider>
            <el-card class="box-card">
                <div slot="header" class="clearfix">
                    <span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>任务信息
                </div>
                <el-row>
                    <el-col :span="2" :offset="1">昵称</el-col>
                    <el-col :span="5">{{startInfo.nickName}}</el-col>
                    <el-col :span="2" :offset="1">电话</el-col>
                    <el-col :span="5">{{startInfo.phone}}</el-col>
                    <el-col :span="2" :offset="1">微信号</el-col>
                    <el-col :span="5">{{startInfo.wechatNumber}}</el-col>
                </el-row>
                <el-row>
                    <el-col :span="2" :offset="1">任务类型</el-col>
                    <el-col :span="5">{{typeInfo}}</el-col>
                    <el-col :span="2" :offset="1">任务地址</el-col>
                    <el-col :span="5">{{placeInfo}}</el-col>
                    <el-col :span="2" :offset="1">截止时间</el-col>
                    <el-col :span="5">{{oneTask.taskTime}}</el-col>
                </el-row>
                <el-row style="margin-top: 10px">
                    <el-col :span="2" :offset="1">任务详情</el-col>
                    <el-col :span="16">{{oneTask.taskContent}}</el-col>
                </el-row>
            </el-card>
            <el-card class="box-card" v-if="oneTask.endName">
                <div slot="header" class="clearfix">
                    <span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>接收人信息
                </div>
                <el-row style="margin-top: 20px">
                    <el-col :span="2" :offset="1">昵称</el-col>
                    <el-col :span="5">{{endInfo.nickName}}</el-col>
                    <el-col :span="2" :offset="1">电话</el-col>
                    <el-col :span="5">{{endInfo.phone}}</el-col>
                    <el-col :span="2" :offset="1">微信号</el-col>
                    <el-col :span="5">{{endInfo.wechatNumber}}</el-col>
                </el-row>
            </el-card>
            <el-card class="box-card" v-if="feedInfo.id">
                <div slot="header" class="clearfix">
                    <span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>完成反馈信息
                </div>
                <el-row>
                    <el-col :span="10" :offset="1">
                        <div v-if="feedInfo.imgId1">
                            <img :src="feedInfo.imgId1" class="avatar" style="width: 200px; height: 200px">
                        </div>
                    </el-col>
                    <el-col :span="10" :offset="3">
                        <div v-if="feedInfo.imgId2">
                            <img :src="feedInfo.imgId2" class="avatar" style="width: 200px; height: 200px">
                        </div>
                    </el-col>
                </el-row>
            </el-card>
            <span slot="footer" class="dialog-footer">
                <el-button @click="taskVisible = false">取 消</el-button>
                <el-button  v-if="!feedInfo.id" type="primary" @click="openFeed(item)">提交反馈</el-button>
            </span>
        </el-dialog>
        <el-dialog title="提交反馈" :visible.sync="feedVisible" width="50%">
            <el-upload
                    :action="urls.imgUpload"
                    list-type="picture-card"
                    :on-success="handleAvatarSuccess"
                    :on-remove="handleRemove"
                    :before-upload="beforeAvatarUpload">
                <i class="el-icon-plus"></i>
            </el-upload>
            <el-dialog :visible.sync="dialogVisible">
                <img width="100%" :src="dialogImageUrl" alt="">
            </el-dialog>
            <span slot="footer" class="dialog-footer">
                <el-button @click="feedVisible = false">取 消</el-button>
                <el-button type="primary" @click="submitFeed">提交</el-button>
            </span>
        </el-dialog>


    </div>
</div>
</body>
<script src="./js/front/myGet.js"></script>
</html>