<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="./css/front/taskListStyle.css">
    <link rel="stylesheet" href="./css/operateStyle.css"/>
    <!-- import Vue before Element -->
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>任务列表</title>
</head>
<body>
<div id="app" v-cloak>
    <el-row>
        <el-col :span="24">
            <el-col :span="22">
                <div class="grid-content bg-purple">
                    <img style="width: 2%; border-radius: 15px;float: left" src="./img/logo.jpg">
                </div>
            </el-col>
            <el-col :span="2">
                <div class="grid-content bg-purple-light" v-if="!userName">
                    <el-button icon="el-icon-user-solid" circle></el-button>
                    <span style="font-size: 14px;">请登录</span>
                </div>
                <div class="grid-content bg-purple-light" v-else>
                    <span style="font-size: 14px;">欢迎您,{{userName}}</span>
                </div>
            </el-col>
        </el-col>
    </el-row>
    <el-divider></el-divider>
    <el-row>
        <el-col :span="4">
            <div class="grid-content bg-purple">
                <el-menu
                        style="height: 930px"
                        default-active="2"
                        class="el-menu-vertical-demo"
                        :default-openeds="['1']"
                        @select="handleSelect">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-s-order"></i>
                            <span>任务信息</span>
                        </template>
                        <el-menu-item index="taskSquare">任务广场</el-menu-item>
                        <el-menu-item index="taskReceive">接收任务</el-menu-item>
                        <el-menu-item index="taskFinish">完成任务</el-menu-item>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-s-tools"></i>
                            <span>我的信息</span>
                        </template>
                        <el-menu-item index="2-1">选项4</el-menu-item>
                        <el-menu-item index="2-2">选项5</el-menu-item>
                        <el-menu-item index="moreInfo">完善信息</el-menu-item>
                    </el-submenu>
                </el-menu>
            </div>
        </el-col>
        <el-col :span="18">
            <div class="grid-content bg-purple-light">
                <el-select style="margin-left: 20px" v-model="value" placeholder="请选择">
<!--                    <el-option v-for="item in options" :key="item.value"-->
<!--                               :label="item.label" :value="item.value">-->
<!--                    </el-option>-->
                </el-select>
                <el-button type="primary">搜索任务</el-button>
            </div>
        </el-col>
        <el-col :span="2">
            <el-button type="primary" @click="openInsertTask">新增任务</el-button>
        </el-col>
        <el-col :span="20">
            <el-divider></el-divider>
            <el-table :data="taskData" border style="width: 100%">
                <el-table-column fixed prop="startName" label="发起人昵称"></el-table-column>
                <el-table-column prop="taskTitle" label="任务标题"></el-table-column>
                <el-table-column prop="taskType" label="任务类别" :formatter="formatterType"></el-table-column>
                <el-table-column prop="taskPlace" label="任务地址" :formatter="formatterPlace"></el-table-column>
                <el-table-column prop="taskTime" label="发布时间"></el-table-column>
                <el-table-column prop="endName" label="接收人昵称" v-if="taskKind != 'taskSquare'"></el-table-column>
                <el-table-column label="操作" :width="operateWidth">
                    <template slot-scope="scope">
                        <span class="el-icon-view lookStyle" @click="lookTask(scope.row)">查看</span>
                        <span class="el-icon-delete-solid deleteStyle" v-if="taskKind == 'taskReceive'" @click="notReceive(scope.row)">取消接受</span>
                    </template>
                </el-table-column>
            </el-table>
            <div class="block" style="text-align: center">
                <el-pagination
                        layout="prev, pager, next"
                        :total="50">
                </el-pagination>
            </div>
        </el-col>
    </el-row>
    <el-dialog :visible.sync="insertTaskVisible" width="80%">
        <span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>发布任务
        <el-divider></el-divider>
        <el-form :model="taskForm" :rules="taskFormRules" ref="taskForm" label-width="100px" class="demo-taskForm">
            <el-form-item label="任务标题" prop="taskTitle">
                <el-input v-model="taskForm.taskTitle" placeholder="请输入任务标题"></el-input>
            </el-form-item>
            <el-form-item label="任务类型" prop="taskType">
                <el-select v-model="taskForm.taskType" placeholder="请选择任务类型">
                    <el-option label="跑腿任务" value="1"></el-option>
                    <el-option label="学习任务" value="2"></el-option>
                    <el-option label="志愿任务" value="3"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="任务地区" prop="taskPlace">
                <el-select v-model="taskForm.taskPlace" placeholder="请选择任务地区">
                    <el-option label="成都东软学院" value="1"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="截止时间" required>
                <el-col :span="11">
                    <el-form-item prop="date1">
                        <el-date-picker type="date" placeholder="选择截止时间" value-format="yyyy-MM-dd"
                                        v-model="taskForm.taskTime" style="width: 100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-form-item>
            <el-form-item label="任务内容" prop="desc">
                <el-input type="textarea" v-model="taskForm.taskContent" placeholder="请输入任务内容"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
            <el-button @click="insertTaskVisible = false">取 消</el-button>
            <el-button type="primary" @click="insertTask">确 定</el-button>
        </span>
    </el-dialog>
    <el-dialog :visible.sync="receiveTaskVisible" width="80%">
        <span style="font-size: 20px;font-weight: normal; color: rgba(52,148,243,1)">▌</span>接收任务
        <el-divider></el-divider>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>任务信息</span>
            </div>
            <el-row>
                <el-col :span="2" :offset="1">任务类型</el-col>
                <el-col :span="5">{{lookInfo.taskType}}</el-col>
                <el-col :span="2" :offset="1">任务地址</el-col>
                <el-col :span="5">{{lookInfo.taskPlace}}</el-col>
                <el-col :span="2" :offset="1">截止时间</el-col>
                <el-col :span="5">{{lookInfo.taskTime}}</el-col>
            </el-row>
        </el-card>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>发布人信息</span>
            </div>
            <el-row>
                <el-col :span="2" :offset="1">电话</el-col>
                <el-col :span="5">{{lookInfo.phone}}</el-col>
                <el-col :span="2" :offset="1">微信号</el-col>
                <el-col :span="5">{{lookInfo.wechatNumber}}</el-col>
                <el-col :span="2" :offset="1">QQ号码</el-col>
                <el-col :span="5">{{lookInfo.qqNumber}}</el-col>
            </el-row>
        </el-card>
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>任务详情</span>
            </div>
            <el-row>
                <el-col :span="24" :offset="1">{{lookInfo.taskContent}}</el-col>
            </el-row>
        </el-card>
        <span slot="footer" class="dialog-footer">
            <el-button @click="receiveTaskVisible = false">取 消</el-button>
            <el-button type="primary" @click="receiveTask" v-if="taskKind == 'taskSquare'">接受任务</el-button>
            <el-button type="primary" @click="finishTask" v-if="taskKind == 'taskReceive'">完成任务</el-button>
        </span>
    </el-dialog>
</div>
</body>
<script src="./js/front/taskListVue.js"></script>
</html>