<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="./css/front/userInfoStyle.css">
    <link rel="stylesheet" href="./css/operateStyle.css"/>
    <!-- import Vue before Element -->
    <script src="./js/jquery.js"></script>
    <script src="./js/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <title>用户信息</title>
</head>
<body>
<div id="app" v-cloak>
    <el-row>
        <el-col :span="24">
            <el-col :span="22">
                <div class="grid-content bg-purple">
                    <img style="width: 2%; border-radius: 15px;float: left" src="./img/logo.jpg">
                </div>
            </el-col>
            <el-col :span="2">
                <div class="grid-content bg-purple-light" v-if="!userName">
                    <el-button icon="el-icon-user-solid" circle></el-button>
                    <span style="font-size: 14px;">请登录</span>
                </div>
                <div class="grid-content bg-purple-light" v-else>
                    <span style="font-size: 14px;">欢迎您,{{userName}}</span>
                </div>
            </el-col>
        </el-col>
    </el-row>
    <el-divider></el-divider>
    <el-row>
        <el-col :span="4">
            <div class="grid-content bg-purple">
                <el-menu
                        style="height: 930px"
                        default-active="2"
                        class="el-menu-vertical-demo"
                        :default-openeds="['2']"
                        @select="handleSelect">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-s-order"></i>
                            <span>任务信息</span>
                        </template>
                        <el-menu-item index="taskSquare">任务广场</el-menu-item>
                        <el-menu-item index="taskReceive">接收任务</el-menu-item>
                        <el-menu-item index="taskFinish">完成任务</el-menu-item>
                    </el-submenu>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-s-tools"></i>
                            <span>我的信息</span>
                        </template>
                        <el-menu-item index="2-1">选项4</el-menu-item>
                        <el-menu-item index="2-2">选项5</el-menu-item>
                        <el-menu-item index="moreInfo">完善信息</el-menu-item>
                    </el-submenu>
                </el-menu>
            </div>
        </el-col>
        <el-col :span="18">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="活动名称">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>
                <el-form-item label="活动区域">
                    <el-select v-model="form.region" placeholder="请选择活动区域">
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="活动时间">
                    <el-col :span="11">
                        <el-date-picker type="date" placeholder="选择日期" v-model="form.date1" style="width: 100%;"></el-date-picker>
                    </el-col>
                    <el-col class="line" :span="2">-</el-col>
                    <el-col :span="11">
                        <el-time-picker placeholder="选择时间" v-model="form.date2" style="width: 100%;"></el-time-picker>
                    </el-col>
                </el-form-item>
                <el-form-item label="即时配送">
                    <el-switch v-model="form.delivery"></el-switch>
                </el-form-item>
                <el-form-item label="活动性质">
                    <el-checkbox-group v-model="form.type">
                        <el-checkbox label="美食/餐厅线上活动" name="type"></el-checkbox>
                        <el-checkbox label="地推活动" name="type"></el-checkbox>
                        <el-checkbox label="线下主题活动" name="type"></el-checkbox>
                        <el-checkbox label="单纯品牌曝光" name="type"></el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item label="特殊资源">
                    <el-radio-group v-model="form.resource">
                        <el-radio label="线上品牌商赞助"></el-radio>
                        <el-radio label="线下场地免费"></el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="活动形式">
                    <el-input type="textarea" v-model="form.desc"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">立即创建</el-button>
                    <el-button>取消</el-button>
                </el-form-item>
            </el-form>
        </el-col>
    </el-row>
</div>
</body>
<script src="./js/front/userInfoVue.js"></script>
</html>