<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luffykaiyuan.lifeplatform.dao.TaskInfoPoMapper">
  <resultMap id="BaseResultMap" type="com.luffykaiyuan.lifeplatform.po.TaskInfoPo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="start_id" jdbcType="VARCHAR" property="startId" />
    <result column="start_username" jdbcType="VARCHAR" property="startUsername" />
    <result column="start_name" jdbcType="VARCHAR" property="startName" />
    <result column="task_title" jdbcType="VARCHAR" property="taskTitle" />
    <result column="task_type" jdbcType="VARCHAR" property="taskType" />
    <result column="task_place" jdbcType="VARCHAR" property="taskPlace" />
    <result column="task_time" jdbcType="VARCHAR" property="taskTime" />
    <result column="task_content" jdbcType="VARCHAR" property="taskContent" />
    <result column="end_id" jdbcType="VARCHAR" property="endId" />
    <result column="end_username" jdbcType="VARCHAR" property="endUsername" />
    <result column="end_name" jdbcType="VARCHAR" property="endName" />
    <result column="add_time" jdbcType="VARCHAR" property="addTime" />
    <result column="delete_status" jdbcType="VARCHAR" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, start_id, start_username, start_name, task_title, task_type, task_place, task_time, task_content, end_id,
    end_username, end_name, add_time, delete_status
  </sql>

  <select id="selectByTaskType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_info
    where task_type = #{taskType,jdbcType=VARCHAR}
    order by task_time desc
  </select>

  <select id="selectAllWaitTask" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_info
    where delete_status = '0'
    order by task_time desc
  </select>

  <select id="selectAllTask" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_info
    order by task_time desc
  </select>

  <select id="selectAllReceiveTask" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_info
    where delete_status = '1' and (end_username = #{endUsername,jdbcType=VARCHAR})
    order by task_time desc
  </select>

  <select id="selectAllFinishTask" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_info
    where delete_status = '2' and (end_username = #{endUsername,jdbcType=VARCHAR})
    order by task_time desc
  </select>

  <insert id="insertTask" parameterType="com.luffykaiyuan.lifeplatform.po.TaskInfoPo">
    insert into task_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="startId != null">
        start_id,
      </if>
      <if test="startUsername != null">
        start_username,
      </if>
      <if test="startName != null">
        start_name,
      </if>
      <if test="taskTitle != null">
        task_title,
      </if>
      <if test="taskType != null">
        task_type,
      </if>
      <if test="taskPlace != null">
        task_place,
      </if>
      <if test="taskTime != null">
        task_time,
      </if>
      <if test="taskContent != null">
        task_content,
      </if>
      <if test="endId != null">
        end_id,
      </if>
      <if test="endUsername != null">
        end_username,
      </if>
      <if test="endName != null">
        end_name,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="startId != null">
        #{startId,jdbcType=VARCHAR},
      </if>
      <if test="startUsername != null">
        #{startUsername,jdbcType=VARCHAR},
      </if>
      <if test="startName != null">
        #{startName,jdbcType=VARCHAR},
      </if>
      <if test="taskTitle != null">
        #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskPlace != null">
        #{taskPlace,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null">
        #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="taskContent != null">
        #{taskContent,jdbcType=VARCHAR},
      </if>
      <if test="endId != null">
        #{endId,jdbcType=VARCHAR},
      </if>
      <if test="endUsername != null">
        #{endUsername,jdbcType=VARCHAR},
      </if>
      <if test="endName != null">
        #{endName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateTask" parameterType="com.luffykaiyuan.lifeplatform.po.TaskInfoPo">
    update task_info
    <set>
      <if test="startId != null">
        start_id = #{startId,jdbcType=VARCHAR},
      </if>
      <if test="startUsername != null">
        start_username = #{startUsername,jdbcType=VARCHAR},
      </if>
      <if test="startName != null">
        start_name = #{startName,jdbcType=VARCHAR},
      </if>
      <if test="taskTitle != null">
        task_title = #{taskTitle,jdbcType=VARCHAR},
      </if>
      <if test="taskType != null">
        task_type = #{taskType,jdbcType=VARCHAR},
      </if>
      <if test="taskPlace != null">
        task_place = #{taskPlace,jdbcType=VARCHAR},
      </if>
      <if test="taskTime != null">
        task_time = #{taskTime,jdbcType=VARCHAR},
      </if>
      <if test="taskContent != null">
        task_content = #{taskContent,jdbcType=VARCHAR},
      </if>
      <if test="endId != null">
        end_id = #{endId,jdbcType=VARCHAR},
      </if>
      <if test="endUsername != null">
        end_username = #{endUsername,jdbcType=VARCHAR},
      </if>
      <if test="endName != null">
        end_name = #{endName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="countDictType" resultType="com.luffykaiyuan.lifeplatform.po.count.CountDict">
    SELECT a.task_type dict, COUNT(a.task_type) count
    FROM task_info a
    WHERE a.delete_status = '2'
    GROUP BY a.task_type
    ORDER BY count DESC
    LIMIT 5
  </select>

  <select id="countDictPlace" resultType="com.luffykaiyuan.lifeplatform.po.count.CountDict">
    SELECT a.task_place dict, COUNT(a.task_place) count
    FROM task_info a
    WHERE a.delete_status = '2'
    GROUP BY a.task_place
    ORDER BY count DESC
    LIMIT 5
  </select>

  <select id="countStartName" resultType="com.luffykaiyuan.lifeplatform.po.count.CountName">
    SELECT a.start_name name, COUNT(a.start_name) count
    FROM task_info a
    WHERE a.delete_status = '2'
    GROUP BY a.start_name
    ORDER BY count DESC
    LIMIT 5
  </select>

  <select id="countEndName" resultType="com.luffykaiyuan.lifeplatform.po.count.CountName">
    SELECT a.end_name name, COUNT(a.end_name) count
    FROM task_info a
    WHERE a.delete_status = '2'
    AND a.end_name != ''
    GROUP BY a.end_name
    ORDER BY count DESC
    LIMIT 5
  </select>
</mapper>